*{
    margin: 0;
    text-decoration: none;
    padding: 0;
}
.body{
    margin: 0;
    padding: 0;
    font-family: 'open Sabs' sans-serif;
}

/* navigasi */
.logo a{
    font-size: 40px;
    font-weight: bold;
    float: left;
    padding-left: 50px;
    font-family: courier;
    color:whitesmoke;
    text-decoration: none;
}
.logo a:hover{
    color: whitesmoke;
}


.menu{
    float:right;
}

nav{
    width: 100%;
    margin: auto;
    display: inline-block;
    line-height: 80px;
    position: sticky;
    top:0;
    position: -webkit-sticky;
    background: rgb(0, 0, 0);
    z-index: 2;
    border-bottom: 2px solid #000000;
}

nav ul{
    list-style: none;
    margin: 0;
    padding-right: 40px;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
}

nav ul li a:hover{
    background-color: crimson;
    color: white;
    border-radius: 20px;
}


/* home */
.banner{
    height: 100vh;
    background-size:cover;
    background-image: url("../img/baner.png");
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(44, 44, 44, 0.74);
}
.banner h2{
    color: whitesmoke;
    z-index: 1;
    padding: 15px 35px;
    border: 2px solid whitesmoke;
    display: flex;
}

/* about */
.tentang{
    display: block;
    margin-top: 0%;
    padding-top: 90px;
}
.tentang h2{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    color:#000000;
    text-align: center;
    color: white;
}
.keterangan{
    padding-top: 50px;
    display: flex ;
}

.keterangan img{
    width: 35%;
    margin-left: 120px;
}
.pengenalandiri{
    display: block;
    padding: 20px 140px 20px 30px;
}
.keterangan h3{
    color: white;
    display: block;
    font-size: 40px;
}
.keterangan p{
    color: whitesmoke;
    padding-top: 10px;
    font-family: 'Times New Roman';
    font-size: 20px;
    line-height: 25px;
}

/* Experiences */
.pengalaman{
    display: block;
    margin-top: 5%;
    padding-top: 90px;
    padding-bottom: 90px;
}
.pengalaman h2{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px ;
    color:white;
    text-align: center;
    padding-bottom: 50px;
    display: block;
}
col{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.card{
    display: flex;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.row-cols-md-3 {
    flex: 0 0 auto;
    width: 100%;
}


/* Education */
.pendidikan{
    display: block;
    margin-top: 5%;
    padding-top: 90px;
}
.pendidikan h2{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    color:#000000;
    text-align: center;
}
.pendidikan .penyatuborder{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 100px;
}
.facontainer{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.facontainer.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container h3{
    font-size: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
.container p{
    font-weight: 40;
    font-size: 20px;
    display: block;
    font-family: Arial;
    margin-left: auto;
    margin-right: auto;
}

/* Skills */
.keahlian{
    display: block;
    margin: 5%;
    padding-top: 90px;
}
.keahlian h2{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    color:#000000;
    text-align: center;
}
.box{
    color:#000000;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
}
.keahlian .penyatuskills{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 100px;
}
.box:after{
    content:'';
    clear: both;
}
.icon{
    width: 150px;
    height:150px;
    border:2px solid;
    border-radius:50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.icon img{
    padding-top: 35px;
    width: 80px;
    height: 105px;
}
.box h4{
    padding-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

/* Interests */
.wrapper{
    background-color: #000000;
}
.kesukaan{
    display: block;
    margin: 5%;
    padding-top: 70px;
}
.kesukaan h2{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    color: whitesmoke;
    text-align: center;
}
.gambarhobi{
    padding-top: 70px;
    display: flex;
}
.gambarhobi img{
    width: 50%;
    height: auto;
    padding-bottom: 150px;
}
.gambarhobi .penjelasan{
    padding-left: 20px;
}
.gambarhobi .penjelasan h5{
    font-size: 25px;
    color: white ;
}
.gambarhobi .penjelasan p{
    font-size: 20px;
    color: whitesmoke ;
}
.gambarhobi .penjelasan2 h5{
    font-size: 25px;
    color: white ;
}
.gambarhobi .penjelasan2 p{
    font-size: 20px;
    padding-right: 20px;
    color: whitesmoke ;
}

/* Award */
.penghargaan{
    display: block;
    padding-top: 70px;
}

.penghargaan h2{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.pencapaian{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pencapaian img{
    display: flex;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.pencapaian h4{
    display: block;
    padding-top: 50px ;
    text-align: center;
    margin-bottom: 10%;
}
/* footer */
.footer {
    padding: 20px 0;
    background-color: rgb(17, 17, 17);
    color:white;
    text-align:center;
}

/* tombol menu responsive */
.tombol-menu {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 27px;
    height: 20px;
}

.tombol-menu .garis {
    height: 3px;
    background-color: whitesmoke;
}

/* Responsive handphone */
@media (max-width: 575.98px) {
    .logo a {
        display: inline;
        font-size: 30px;
        padding-left: 15px;
    }
    .tombol-menu {
        display: flex;
    }
    nav{
        line-height: 65px;
    }
    nav .menu {
        display: none;
    }
    nav .menu.active {
        display: flex;
    }
    nav ul{
        padding: 0;
    }
    nav ul li {
        width:100%;
        text-align: center;
        border-bottom:1px solid #333333;
    }
    .facontainer .container h3{
        font-size: 16px;
    }
    .facontainer .container p{
        font-size: 12px;
    }
    .banner h2{
        font-size: 20px;
    }
    .keterangan{
        display: block;
    }
    .keterangan img{
        display: flex;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .pengenalandiri{
        padding: 20px 20px 20px 20px;
    }
    .keterangan h3{
        font-size: 20px;
        text-align: center;
    }
    .keterangan p{
        text-align: center;
        padding: 0;
        font-size: 15px;
    }
    .facontainer .container{
        padding-left: 15px;
    }
    .keahlian .penyatuskills{
        display: block;
    }
    .icon{
        width: 150px;
        height: 150px;
    }
    .icon img{
        padding-top: 30px;
        width: 100px;
        height: 120px;
    }
    .container h3{
        font-size: 18px;
    }
    .container p{
        font-size: 13px;
    }
    .gambarhobi img{
        width: 250px;
        height: 250px;
    }
    .gambarhobi .penjelasan h5{
        font-size: 13px;
    }
    .gambarhobi .penjelasan p{
        font-size: 10px;
    }
    .gambarhobi .penjelasan2 h5{
        font-size: 13px;
    }
    .gambarhobi .penjelasan2 p{
        font-size: 10px;
    }
    .pencapaian img{
        margin-top: 2%;
        padding-top: 70px;
        width: 100%;
    }
}

/* Responsive Tablet */
@media (max-width: 991.98px) {
    .logo a {
        display: inline;
        font-size: 30px;
        padding-left: 15px;
    }
    .tombol-menu {
        display: flex;
    }
    nav{
        line-height: 65px;
    }
    nav .menu {
        display: none;
    }
    nav .menu.active {
        display: flex;
    }
    nav ul{
        padding: 0;
    }
    nav ul li {
        width:100%;
        text-align: center;
        border-bottom:1px solid #333333;
    }

    .banner h2{
        font-size: 20px;
    }
    .keterangan{
        display: block;
    }
    .keterangan img{
        display: flex;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .pengenalandiri{
        padding: 20px 20px 20px 20px;
    }
    .keterangan h3{
        font-size: 20px;
        text-align: center;
    }
    .keterangan p{
        text-align: center;
        padding: 0;
        font-size: 15px;
    }
    .facontainer .container h3{
        font-size: 25px;
    }
    .facontainer .container p{
        font-size: 18px;
    }
    .facontainer .container{
        padding-left: 15px;
    }
    .keahlian .penyatuborder{
        display: flex;
    }
    .icon{
        width: 110px;
        height: 110px;
        padding-top: 20px;
    }
    .icon img{
        padding-top: 0px;
        width: 70px;
        height: 70px;
    }
    .container h3{
        font-size: 20px;
    }
    .container p{
        font-size: 15px;
    }
    .card{
        width: 250px;
    }
    .gambarhobi img{
        width: 350px;
    }
    .gambarhobi .penjelasan h5{
        font-size: 25px;
    }
    .gambarhobi .penjelasan p{
        font-size: 18px;
    }
    .gambarhobi .penjelasan2 h5{
        font-size: 25px;
    }
    .gambarhobi .penjelasan2 p{
        font-size: 18px;
    }
    .pencapaian img{
        margin-top: 2%;
        padding-top: 70px;
        width: 100%;
    }
}

/* Responsive Notebook */
@media (max-width: 1199.98px) {
    .logo a {
        display: inline;
        font-size: 32px;
        padding-left: 15px;
    }
    nav ul{
        padding-right: 20px;
    }
    .banner h2{
        font-size: 25px;
    }
    .keterangan{
        display: block;
    }
    .keterangan img{
        display: flex;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .pengenalandiri{
        padding: 20px 20px 20px 20px;
    }
    .keterangan h3{
        font-size: 30px;
        text-align: center;
    }
    .keterangan p{
        text-align: center;
        padding: 0;
        font-size: 20px;
    }
    .facontainer .container h3{
        font-size: 30px;
    }
    .facontainer .container p{
        font-size: 25px;
    }
    .facontainer .container{
        padding-left: 15px;
    }
    .keahlian .penyatuborder{
        display: flex;
    }
    .icon{
        width: 150px;
        height: 150px;
        padding-top: 20px;
    }
    .icon img{
        padding-top: 0px;
        width: 100px;
        height: 100px;
    }
    .container h3{
        font-size: 20px;
    }
    .container p{
        font-size: 15px;
    }
    .card{
        width: 250px;
    }
    .gambarhobi img{
        width: 500px;
    }
    .gambarhobi .penjelasan h5{
        font-size: 30px;
    }
    .gambarhobi .penjelasan p{
        font-size: 20px;
    }
    .gambarhobi .penjelasan2 h5{
        font-size: 30px;
    }
    .gambarhobi .penjelasan2 p{
        font-size: 20px;
    }
    .pencapaian img{
        margin-top: 2%;
        padding-top: 70px;
        width: 50%;
    }
}